<footer>

  <div class="footer-left">
    <p>Get Yo’ Shares is the first crowdfunding platform to finance artist’s projects.</p>
    <div class="footer-social-media">
      <a href=""><i class="fab fa-spotify"></i></a>
      <a href=""><i class="fab fa-facebook"></i></a>
      <a href=""><i class="fab fa-twitter"></i></a>
    </div>
  </div>

  <div class="footer-right">
    <ul>
      <li><a href="">About us</a></li>
      <li><a href="">Contact</a></li>
      <li><a href="">FAQs</a></li>
      <li><a href="">Privacy</a></li>
      <li><a href="">Terms of service</a></li>
      <li><a href="">Cookie Policy</a></li>
    </ul>
  </div>

</footer>
