.artist-banner{
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: top;
  border-radius: 8px;
  position: relative;
}

.artist-banner-name {
  color: white;
  font-weight: lighter;
  position: absolute;
  bottom: 20px;
  right: 40px;
    p {margin: 0;
    }
}

.artist-banner-genre {
  color: $primary;
  position: absolute;
  bottom: 20px;
  left: 40px;
  background-color: white;
  padding: 4px 8px;
  width: 130px;
  text-align: center;
  border-radius: 8px;
    p {
      margin: 0;
    }
}

.artist-banner-token {
  color: white;
  position: absolute;
  top: 20px;
  left: 40px;
  text-align: center;
    h2 {
      font-weight: lighter;
      margin: 0;
    }
}
