.btn-outline-light {
  background-color: white;
  color: #6768AB;
  border:0;
}

.btn-outline-light:hover{
  background-color: #6768AB;
  color: white;
  border:0;
}

.btn-token {
  padding: 1em 0;
  font-weight: bold;
}

.btn-token:hover{
  padding: 1em 0;
  font-weight: bold;
  background-color: #f9bc0b;
  border: #f9bc0b;
}

.button-plus:hover{
  background-color: #262161;
  color: white;
}

.button-minus:hover{
  background-color: #262161;
  color: white;
}

.btn.active.focus {
  outline: none;
}

.btn-home:hover {
  background-color:#262161 ;
}
