// Home cards trending
.trendings-cards{
  justify-content: space-between;
}
.home-trending-card{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  height: 350px;
  width: 350px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: white;
  padding: 20px;
  margin-top: 50px;
  position: relative;

  > .home-trending-card-infos {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 65%;

    > h4 {
      font-size: 2rem;
      font-weight: 700;
      text-align: left;
    }

    > .btn-trending-card {
      padding: 5px 15px;
      background-color: white;
      font-weight: 700;
      color: #000;
      mix-blend-mode: screen;

      &:hover {
        opacity: 0.7;
      }
    }
  }


  > img {
    width: 120px;
    border: 3px solid white;
    border-radius: 8px;
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}

#htc-1 {
  background: linear-gradient(223.46deg, #8000FF 2.55%, rgba(252, 176, 69, 0) 100%), #EA7AFC;
}

#htc-2 {
  background: linear-gradient(223.46deg, #4583FC 2.55%, rgba(252, 176, 69, 0) 100%), #19CC56;
}

#htc-3 {
  background: linear-gradient(223.46deg, #FCB045 2.55%, rgba(252, 176, 69, 0) 100%), #CC198E;
}
// End of home cards trending

// Dashboard artist card financial info per project

.dashboard-artist-project {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  height: 600px;
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  color: white;
  padding: 5px;
  margin-top: 5px;
  position: relative;
}

.dashboard-artist-project-high-part {
  display: flex;
  justify-content: space-around;
  height: 50%;
  width: 100%
}

.dashboard-artist-project-high-part-left {
  align-items: center;
  flex-direction: column;
  padding: 15px;
  color: black;
}

.photo-project-info-financial {
  border-radius: 15px;
  height: 80%;
}

.dashboard-artist-project-down-part {
  display: flex;
  justify-content: space-around;
  padding-bottom: 5px;
  margin-bottom: 5px;
  width: 100%
}


 .dashboard-artist-project-down-part-left {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0px 50px 0px 50px;
  width: 50%;
  height: 100%;
  color: black;
  border: solid 1px grey;
}

.dashboard-artist-project-down-part-right {
  align-items: justify;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 50%;
}

.dashboard-progress {
  width: 80%;
}


// End of dashboard artist card financial info per project

// Media queries

@media(max-width: 992px) {

}

@media(max-width: 768px) {
  .trendings-cards{
    justify-content: center;
    margin: 0;
  }
}

@media(max-width: 480px) {
  .trendings-cards{
    justify-content: center;
    margin: 0;

    > .home-trending-card{
      height: 300px;
      width: 300px;

      > .home-trending-card-infos {
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 75%;

      }
    }
  }
}
