.navbar-gys {
  justify-content: space-between;
  background: white;
  padding: 0;
}

.navbar-gys .navbar-collapse {
  flex-grow: 0;
}

.navbar-gys .navbar-brand img {
  width: 40px;
}
.container-navbar {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  margin: 0 80px;
  width: 100%;
}
.navbar-menu {
  display: flex;
  justify-content: space-between;
}
.nav-link {
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-right: 10px;

  > a {
    text-decoration: none;
    margin-left: 5px;
  }
}


// Navbar Animations
.nav-link:hover {
  color: $secondary;


  > a {
    color: $secondary;
    text-decoration: none;
  }
}

.nav-link .fa {
  transition: all 1s
}

.nav-link:hover .fa {
  transform: rotate(360deg)
}


// Media queries

@media(max-width: 992px) {

}

@media(max-width: 768px) {
  .container-navbar {
    margin: 0px 60px;
  }
}

@media(max-width: 480px) {
  .container-navbar {
    margin: 0px 40px;
  }
  .navbar-menu {
    padding: 10px 0;
  }
  .nav-link {
    justify-content: start;
    margin-bottom: 5px;
  }

}
